@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lexend+Zetta:wght@100..900&display=swap');

/* CV Colors */
$primary-cv-color:#A8EB12;

/* Demo Colors */
$black:#040403;
$white:#FBFCFF;
$gray:#D0CCD0;
$primary:#00A5E0;

/* CV Fonts */
$primary-cv-font: "Abril Fatface", serif;
$secondary-cv-font: "Lexend Zetta", sans-serif;

/* Demo Fonts */
$primary-font: 'Albert Sans', sans-serif;
$secondary-font: 'Battambang', display;
