@use './globals' as *;
@use './animations/animations' as *;
body{
    background-color: $white;
    font-family: $primary-font;
    font-weight: 300;
    h3{
        color: $black;
        font-size: 1.5rem;
        font-weight: 500;
    }
    header{
        background-color: $white;
        color: $black;
        .btn-register{
            @apply py-2 px-4 rounded-full shadow-md w-full hover:bg-slate-200 hover:border-transparent hover:text-slate-900 active:bg-slate-400 transition-colors; 
            border: $black 1px solid;
            color: $black;
        }
        .dropdown{
            background-color: $white;
            padding: 0.5rem 1rem;
            width: 100%;
        }
    }
    .btn-primary{
        @apply py-2 px-4 rounded-full shadow-md w-full hover:bg-slate-200 hover:text-slate-900 active:bg-slate-400 transition-colors; 
        background-color: $black;
        color: $white;
        margin: 1.5rem auto;

    }
    .btn-secondary{
        @apply py-2 px-4 rounded-full shadow-md w-full hover:bg-slate-200 hover:border-transparent hover:text-slate-900 active:bg-slate-400 transition-colors; 
        border: $black 1px solid;
        color: $black;
        display: inline-block;
        margin: 1.5rem auto;
        text-align: center;
    }
    .account{
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $gray;
        border-radius: 0;
    }
    .small-text{
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 0;
    }
    .title{
        align-items: center;
        column-gap: 1rem;
        display: flex;
        margin-bottom: 2rem;
        position: relative;
    }
    .title::after{
        border-top: 1px solid #E5E5E5;
        content: '';
        flex-basis: 0;
        flex-grow: 1;
        height: 0;
        max-width: 100%;
    }
    .font-number-label{
        margin-bottom: 0;
        width: 70%;
    }
    .font-number{
        font-family: 'Battambang', display;
        font-size: 1.5rem;
        font-weight: 400;
        text-align: right;
    }
    .btn-cart-product{
        margin: 0;
        width:auto;
        @apply p-3 md:p-3 top-6 right-6;
        svg{
            @apply h-5 w-5 sm:h-6 sm:w-6;
        }
    }
}