@use '../globals/variables' as *;
/* Hover underline effect */
.underline-hover {
    position: relative;
  }
  
.underline-hover::after {
    background-color: $black;
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    width: 100%;
}

.underline-hover:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
/* Hover underline effect */

/* Slide in left */
 @-webkit-keyframes slide-in-left {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
@keyframes slide-in-left {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
.slide-in-left {
	-webkit-animation: slide-in-left 1.5s ease-in-out both;
	animation: slide-in-left 1.5s ease-in-out both;
}
/* Slide in left */

/* Scale-in-center */
 @-webkit-keyframes scale-in-center {
    0% {
      opacity: 1;
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-in-center {
    0% {
      opacity: 1;
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
.carousel__description:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  transform-origin: top left;
  transition: transform 0.25s ease-out;
}
.carousel__description{
  transform: scale(1);
  transform-origin: top left;
  transition: transform 0.25s ease;
}
.carousel-image{
  border-radius: 50px;
  width: fit-content;
}
.carousel__item:hover .carousel-image{
  border: none!important;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(168,235,18,0.5);
  -moz-box-shadow: 0px 0px 10px 2px rgba(168,235,18,0.5);
  box-shadow: 0px 0px 10px 2px rgba(168,235,18,0.5);
  margin-left: 0;
  transform: scale(1.2);
  transform-origin: center left;
   /* Puedes ajustar el valor según tu preferencia */
  transition: transform 0.3s ease; /* Agrega una transición para hacerlo suavemente */
}

/* Agrega esto si deseas restablecer la transformación cuando el mouse sale del elemento */
.carousel-image {
  transform: scale(1);
  transform-origin: center left;
  transition: transform 0.3s ease;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}




/* Scale-in-center */

/* ----------------------------------------------
 * Generated by Animista on 2024-1-17 23:45:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
 .slide-top:hover {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: slide-top 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}