@import url('../scss/styles.scss');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .py-navbar-item {
    @apply py-6
  }

  .pt-navbar-item {
    @apply pt-6
  }

  .pb-navbar-item {
    @apply pb-6
  }

  .px-navbar-item {
    @apply px-3
  }

  .pl-navbar-item {
    @apply pl-3
  }

  .pr-navbar-item {
    @apply pr-3
  }
}

@layer components {
  .btn-primary {
    
  }
  /* .card-listing{
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-around;
  }
  .card-image{
    border-radius: 0.5rem 0.5rem 0 0;
  }
  h3{
    font-size: 1.5rem;
  }
  .price-container{
    border-top: 1px black solid;
    padding-top: 0.75rem
  }
  .font-number-label{
    background: white;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding-right: 0.5rem;
    position: absolute;
    text-transform: uppercase;
    top: -0.5rem;
  }
  .font-number{
    font-family: 'Battambang', display;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: right;
  } */
}

.wysiwyg-content h3,
.wysiwyg-content h4 {
  font-weight: 600;
  margin-top: 1rem;
}

.wysiwyg-content table > tbody > tr > td {
  padding: 0.25rem 0.125rem;
}

.wysiwyg-content table > tbody > tr > td:first-child {
  font-weight: bold;
}

.table > tbody > tr > td,
.table > thead > tr > th {
  padding: 0.5rem;
}

.table-sm > tbody > tr > td,
.table-sm > thead > tr > th {
  padding: 0.25rem;
}