@use '../globals/variables' as *;
html{scroll-behavior: smooth;}
#body-content-cv{
    .btn-primary{
        @apply py-2 px-4 rounded-full shadow-md w-auto hover:bg-[#A8EB12] hover:text-white transition-colors;
        background-color: $white;
        color: $primary-cv-color;
    }
    .btn-demo{
        @apply py-2 px-4 rounded-full shadow-md w-auto hover:bg-white hover:text-[#A8EB12] transition-colors cursor-pointer;
        background-color: $primary-cv-color;
        color: $white;
    }
    .btn-icon{
        @apply p-4;
        svg{
            fill:$primary-cv-color;
        }
    }
    .btn-icon:hover{
        svg{
            fill: $white;
        }
    }
    .section_headline{
        color: $black;
        font-family: $secondary-cv-font;
        @apply text-xl uppercase;
    }
    header{
        @apply h-auto fixed top-0 w-full block shadow-none;
        background:transparent;
        color:$white;
        transition: top 0.3s, background-color 0.3s ease;
        .preheader{
            background-color: $black;
            color: $white;
            @apply hidden justify-end py-1 h-6 text-xs p-6;
            .flag-icon{
                @apply mr-0;
            }
            span{
                @apply text-xs;
            }
        }
        .logo{
            a{
                h3{
                    font-family: $primary-cv-font;
                    opacity: 0;
                    transform: translateY(-20px);
                    transition: opacity 0.8s ease, transform 0.8s ease; /* Animación suave de opacidad y transformación */
                    @apply text-3xl md:text-4xl my-2 md:my-4 tracking-wider;
                }
                .show {
                    opacity: 1;
                    position:absolute;
                    top:0;
                    transform: translateY(0);
                }
                #ng{
                    @apply mt-2 tracking-wide;
                }
            }
        }
        a{
            @apply lg:text-base hover:text-[#A8EB12];
            line-height: 0;
        }
        .underline-hover::after {
            background-color: $primary-cv-color;
        }
    }
    .scrolled-bottom{
        @apply shadow-md;
        background: $white;
        color: $black;
    }
    // Hero Banner starts
    #hero_banner{
        background-color: $black;
        .splide__track{
            .splide__list{
                .splide__slide{
                    //opacity: 0.5;
                }
            }
            .splide__list::after{
                background-color: $black;
                content: '';
                height: 100%;
                left: 0;
                opacity: 0.5;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 2;
            }
        }
        .splide__progress{
            @apply absolute w-full top-0 left-0;
            .splide__progress__bar {
                background: $primary-cv-color;
                height: 2px;
            }
        }
        .splide__pagination{
            @apply hidden;
        }
        #hero_banner_caption{
            color: $white;
            transform: translate(-50%, -50%);
            @apply absolute left-1/2 top-[45%] sm:top-1/2 text-5xl sm:text-5xl lg:text-7xl font-black tracking-wide flex flex-col md:flex-row items-center justify-center w-full max-w-[1200px] px-8 sm:px-24 z-10 gap-4;
            .hero_banner_text{
                @apply z-[2] w-full sm:w-3/4 md:w-1/3;
                .hero_banner_text_first{
                    @apply relative sm:-left-[10%];
                }
                .hero_banner_text_second{
                    @apply relative sm:left-[10%] text-right;
                }
                .border_text{
                    color: $white;
                    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
                    -webkit-text-stroke: 1px $white;
                }
            }
        }
        #hero_banner_caption::after{
            @apply w-[16rem] h-[16rem] rounded-full bg-right bg-no-repeat bg-contain;
            background-image: url('/storage/app/public/images/cv/foto-perfil.webp');
            content: '';
        }
        .hero_banner_socials{
            @apply absolute bottom-[10%] right-1/2 translate-x-1/2 md:right-[10%] md:translate-x-0 flex md:flex-col gap-4 z-10;

            a{
                i{
                    color: $primary-cv-color;
                    font-size: 2rem;
                    @apply md:text-base;
                }
            }
            a:hover{
                i{
                    color:$white;
                }
            }
            .linkedin{
                i::before{
                    font-size: 2.4rem;
                    @apply md:text-xl;
                }
            }
        }
    }
    // Hero Banner ends
    //experience carousel
    .container {
        margin: 0 auto;
        .carousel {
            @apply p-6;
            .carousel__wrapper {
                position: relative;
                &.has-arrows {
                    .carousel__content {
                        @media only screen and (min-width: 1180px) {
                            justify-content: flex-start;
                        }
                    }
                    .carousel__arrows {
                        @media only screen and (min-width: 1180px) {
                            display: flex;
                        }
                    }
                }
            }
            .carousel__header {
                @apply flex flex-col sm:flex-row items-center justify-between gap-4 mb-2;
                .carousel__headline{
                    color: $black;
                    font-family: $secondary-cv-font;
                    @apply text-xl uppercase;
                }
            }
            .carousel__content {
                display: grid;
                grid-auto-flow: column;
                list-style: none;
                margin: 0;
                -webkit-overflow-scrolling: touch;
                -ms-overflow-style: none;
                overflow-x: scroll;
                overflow-y: hidden;
                padding: 0;
                position: relative;
                scrollbar-width: none;
                &::-webkit-scrollbar {
                    display: none;
                }
                li:before {
                    background: $primary-cv-color;
                    content: "";
                    @apply h-px absolute top-[49px] w-full lg:w-1/2 -z-[1];
                }
                li:last-child::before{
                    background: $white;
                    @apply w-1/4;
                }
            }
            .carousel__item {
                max-width: 375px;
                min-width: 350px;
                @apply flex flex-col gap-6 px-5 py-6;
                
                img{
                    background-color: $white;
                    border: 1.5px $primary-cv-color solid;
                    border-radius: 50px;
                    padding: 5px;
                    width: 50px;
                }
                .carousel__description {
                    width: 100%;
                    @apply flex flex-col gap-4;
                    .subtitle{
                        color: $primary-cv-color;
                    }
                    h3{
                        font-family: $primary-cv-font;
                        @apply text-xl lg:text-lg;
                    }
                }
                a {
                    align-items: center;
                    color: $primary-cv-color;
                    cursor: pointer;
                    display: flex;
                    margin: 10px 0px;
                    position: relative;
                    user-select: none;
                }
            }
            .carousel__controls {
                @apply grid grid-flow-col gap-x-3 justify-center md:justify-end;
                // display: grid;
                // grid-auto-flow: column;
                // grid-gap: 24px;
                // justify-content: right;
            }
            .carousel__arrow {
                align-items: center;
                background: $primary-cv-color;
                border: 0;
                border-radius: 50px;
                box-shadow: none;
                display: flex;
                height: 30px;
                justify-content: center;
                margin: 0 auto;
                padding: 5px;
                width: 30px;
                &:before {
                    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTUgOSI+Cgk8cGF0aCBmaWxsPSIjMzMzMzMzIiBkPSJNNy44NjcgOC41NzRsLTcuMjItNy4yMi43MDctLjcwOEw3Ljg2NyA3LjE2IDE0LjA1Ljk4bC43MDYuNzA3Ii8+Cjwvc3ZnPgo=");
                    background-repeat: no-repeat;
                    background-size: contain;
                    content: "";
                    cursor: pointer;
                    display: block;
                    filter: brightness(5);
                    height: 8px;
                    width: 14px;
                }
                &.arrow-prev:before {
                    transform: rotate(90deg);
                }
                &.arrow-next:before {
                    transform: rotate(-90deg);
                }
            }
            .carousel__arrow.disabled {
                &::before {
                    filter: brightness(2);
                }
            }
        }
    }
    //end experience carousel
    footer{
        background-color: #050301;
        .footer-container{
            .logo{
                a{
                    @apply flex flex-col md:flex-row;
                    h3{
                        color: $primary-cv-color;
                        font-family: $primary-cv-font;
                        @apply tracking-wide;
                    }
                }
            }
            .social-icons{
                a{
                    i{
                        color: $primary-cv-color;
                    }
                }
                a:hover{
                    i{
                        color:$white;
                    }
                }
                .linkedin{
                    i::before{
                        font-size: 1.7rem;
                        line-height: 2.1rem;
                    }
                }
            }
        }
    }
}